<style>
    .game-image-container {
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        padding: 0;
        margin: 0;
        aspect-ratio: 8/4;
    }

    .game-image {
       width:100%;
       height:100%;
       object-fit:cover;
       transition: transform .75s ease-in-out;
    }

    .game-image:hover {
       transform: scale(1.1);
    }

    .fixed-height-box {
        height: 24px;
    }
</style>

<article class="card">

    <div class="card-body p-0">
        <div class="game-image-container">
            {% if game.screenshot_set.count %}
                <a href="{% url 'games_detail' game.id %}" class="text-secondary text-decoration-none">
                    <img class="game-image" src="{{ game.screenshot_set.first.file.url }}" alt="game screenshot"/>
                </a>
            {% endif %}
        </div>

    </div>
    <div class="card-footer">
        {# game title #}
        <a href="{% url 'games_detail' game.id %}" class="text-decoration-none" >
            <h6 class="text-primary">{{ game.title }}</h6>
        </a>

        {# by username #}
        <p class="text-sm-start text-secondary overflow-hidden fixed-height-box">
            by <a class="text-decoration-none text-secondary"
                  href="{% url 'profile_public' game.user.username %}" style="font-family: unset;">
                    {{ game.user.username }}
                </a>
        </p>

        {# tag display #}
        <p class="m-0 overflow-hidden text-sm-start fixed-height-box">
            {% if game.tags.count %}
                <span class="text-tiny">#</span>
                {% for tag in game.tags.all %}
                    <span class="rounded m-0 text-tiny">
                        {{ tag.text }}
                    </span>
                {% endfor %}
            {% endif %}
        </p>
    </div>


</article>
