<article class="card">

    <div class="card-body">
        {% if game.screenshot_set.count %}
            <a href="{% url 'games_detail' game.id %}" class="text-secondary text-decoration-none">
                <img style="width:100%;height:100%;object-fit:cover" src="{{ game.screenshot_set.first.file.url }}" alt="game screenshot"/>
            </a>
        {% endif %}
    </div>
    <div class="card-footer">
        <a href="{% url 'games_detail' game.id %}" class="text-decoration-none" >
            <h6 class="text-primary">{{ game.title }}</h6>
        </a>

        <p class="text-sm-start text-secondary">
            by <a class="text-decoration-none text-secondary"
                  href="{% url 'profile_public' game.user.username %}" style="font-family: unset;">
                    {{ game.user.username }}
                </a>
        </p>
    </div>


</article>
