<nav class="navbar navbar-expand-lg pb-1">
    <div class="container-fluid">
        {# Branding. TODO: Add branding image or icon here? #}
        <a class="navbar-brand d-flex flex-column p-0" href="/">
            <p class="m-0">Brokeman's</p>
            <p class="m-0">Game Station</p>
        </a>

        {# Hamburger button (for dropdown navbar on small displays) #}
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Navbar items #}
        <div class="collapse navbar-collapse column-gap-4 ms-3" id="navbarDropdown">
            <ul class="navbar-nav">
                {# links #}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'games_index' %}">Browse</a>
                </li>
            </ul>
            {# Login / Logout link: left at the end so it's pushed to right-most side of navbar #}
            <div class="me-4 navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <a class="nav-link me-4" href="{% url 'profile_index' %}">Profile</a>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>



</nav>