{% load static %}
<nav class="navbar navbar-expand-lg pb-1">
    {# navbar container #}
    <div class="container-fluid">

        {# Branding #}
        <div class="navbar-brand">
            <a class="d-flex flex-column p-0 text-decoration-none nav-link" href="/">
                <!-- <p class="m-0">Brokeman' <i class="bi bi-rocket-takeoff"></i></p> -->
                <!-- <p class="m-0">Game Station</p> -->
                <p class="m-0"><i class="bi bi-rocket-takeoff"></i></p>
            </a>
        </div>


        {# Hamburger button (for dropdown navbar on small displays) #}
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>


        {# Navbar items #}
        <div class="collapse navbar-collapse column-gap-4 ms-3" id="navbarDropdown">

            {# left-side links #}
            <ul class="navbar-nav">
                {# public links #}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'games_index' %}">Browse</a>
                </li>
            </ul>

            {# right-side links #}
            <div class="me-4 navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {# private links #}
                    <a class="nav-link me-4" href="{% url 'profile_index' %}">{{ user.username }}</a>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    {# public links #}
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                    <a class="nav-link" href="{% url 'login' %}">Login</a>

                {% endif %}

                {# dark/light mode button #}
                <button id="color-mode-btn" class="btn ms-4 rounded-circle"></button>

            </div>
            {# end right-side links #}
        </div>
        {# end navbar items #}
    </div>
    {# end navbar container #}

</nav>

<script src="{% static 'js/getCookies.js' %}"></script>
<script src="{% static 'js/colorModeToggle.js' %}"></script>
