{% load static %}
<style>
    #color-mode-btn.btn {
        padding: 0;
        text-align: center;
        margin: 0;
    }

    .branding-image {
        width: 50px;
        opacity: .8;
    }

    .branding-image.invert {
        filter: invert(100%);
    }
</style>
<nav class="navbar navbar-expand-lg pb-1">
    {# navbar container #}
    <div class="container-fluid">

        {# Branding #}
        <a class="d-flex nav-link" href="/">

            <div class="pt-1">

                <div class="d-flex flex-column p-0 text-decoration-none nav-link justify-content-center">
                    <p class="brand-text m-0">Brokeman's   </p>
                    <p class="brand-text m-0">Game Station</p>
                </div>

            </div>
            <img class="object-fit-contain branding-image ms-2 me-2 m-0 p-0" src="{% static 'images/bgs-logo-notext.png' %}" alt="small rocket logo">

        </a>


        {# Hamburger button (for dropdown navbar on small displays) #}
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>


        {# Navbar items #}
        <div class="collapse navbar-collapse column-gap-4 ms-3" id="navbarDropdown">

            {# left-side links #}
            <ul class="navbar-nav">
                {# public links #}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'games_index' %}">Games</a>
                </li>
            </ul>

            {# right-side links #}
            <div class="me-4 navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {# private links #}
                    <a class="nav-link me-4" href="{% url 'profile_public' user.username %}">{{ user.username }}</a>
                    <a class="nav-link me-4" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    {# public links #}
                    <a class="nav-link me-4" href="{% url 'signup' %}">Sign Up</a>
                    <a class="nav-link me-4" href="{% url 'login' %}">Login</a>

                {% endif %}

                {# dark/light mode button #}
                <button id="color-mode-btn" class="btn mt-1" style="width:32px;height:32px;"></button>

            </div>
            {# end right-side links #}
        </div>
        {# end navbar items #}
    </div>
    {# end navbar container #}

</nav>

<script src="{% static 'js/getCookies.js' %}"></script>
<script src="{% static 'js/colorModeToggle.js' %}"></script>
<script src="{% static 'js/setClassOnLightDarkMode.js' %}"></script>

<script>
    window.addEventListener("load", evt => {
        setClassOnLightDarkMode([".branding-image"], "", "invert");

        document.querySelectorAll("a.nav-link").forEach(item => {
             if (item.getAttribute("href") === "{{ request.path }}") {
                 item.classList.add("active");
             }
        });
    });
</script>