{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Log In</h1>

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" id="login" class="btn btn-outline-light">LOG IN</button>
</form>

<script src="{% static 'js/setClassOnLightDarkMode.js' %}"></script>
<script>
    window.addEventListener("load", () =>
        setClassOnLightDarkMode(["#login"], "btn-outline-light", "btn-outline-dark"));
</script>
{% endblock %}