{% extends 'base.html' %}
{% block content %}

<h1>Sign Up</h1>

{% if error_message %}
<p class="red-text">{{ error_message }}</p>
{% endif %}

<form action="{% url 'signup' %}" method="POST">
  {% csrf_token %}
  
  <div class="form-group">
    <label for="{{ form.username.id_for_label }}">Username:</label>
    {{ form.username }}
    <small class="form-text text-danger">{{ form.username.errors }}</small>
    <small class="form-text">{{ form.username.help_text }}</small>
  </div>
  
  <div class="form-group">
    <label for="{{ form.email.id_for_label }}">Email:</label>
    {{ form.email }}
    <small class="form-text text-danger">{{ form.email.errors }}</small>
  </div>
  
  <div class="form-group">
    <label for="{{ form.password1.id_for_label }}">Password:</label>
    {{ form.password1 }}
    <small class="form-text text-danger">{{ form.password1.errors }}</small>
    <small class="form-text">{{ form.password1.help_text }}</small>
  </div>
  
  <div class="form-group">
    <label for="{{ form.password2.id_for_label }}">Password Confirmation:</label>
    {{ form.password2 }}
    <small class="form-text text-danger">{{ form.password2.errors }}</small>
  </div>
  
  <button type="submit" id="signup" class="btn btn-outline-light">SIGN UP</button>

</form>



{% endblock %}