{% load static %}

<!DOCTYPE html>

{# set light mode if user isn't logged in, otherwise, choose user setting #}
<html lang="en" data-guest="{% if user.is_authenticated %}false{% else %}true{% endif %}" data-bs-theme="{% if user.is_authenticated %}{% if user.profile.is_dark_mode %}dark{% else %}light{% endif %}{% elif request.COOKIES.color_mode %}{{ request.COOKIES.color_mode }}{% endif %}">

<head>
    {% include 'include/meta-title.html' %}

    {# Stylesheets #}
    {% include 'include/stylesheets.html' %}


    {% if css %}
        {% for file in css %}
            <link rel="stylesheet" href="{% static file %}" />
        {% endfor %}
    {% endif %}
</head>
<body>
    {# Main header #}
    <header>

        {#  Navigation bar #}
        {% include "include/navbar.html" %}
    </header>


    {# Content block  #}
    <main>
        {% block content %}
        {% endblock %}
    </main>


    {# Footer copyright, contact, etc. #}
    <footer>
        <p class="text-center text-secondary mt-4">© 2023 The Broke Coders</p>
    </footer>

    {# JavaScript #}
    <script src="{% static 'thirdparty/bootstrap/bootstrap@5.3.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% if js %}
        {% for file in js %}
            <script type="text/javascript" src="{% static file %}" ></script>
        {% endfor %}
    {% endif %}

</body>
</html>