{% load static %}

<!DOCTYPE html>

{# set light mode if user isn't logged in, otherwise, choose user setting #}
<html lang="en" data-guest="{% if user.is_authenticated %}false{% else %}true{% endif %}" data-bs-theme="{% if user.is_authenticated %}{% if user.profile.is_dark_mode %}dark{% else %}light{% endif %}{% elif request.COOKIES.color_mode %}{{ request.COOKIES.color_mode }}{% endif %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brokeman's Game Station</title>

    {# Stylesheets #}
    <link rel="stylesheet" href="{% static 'thirdparty/bootstrap/bootstrap@5.3.1.css' %}" />
    <link rel="stylesheet" href="{% static 'thirdparty/bootstrap/bootstrap-icons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    {% if css %}
        {% for file in css %}
            <link rel="stylesheet" href="{% static file %}" />
        {% endfor %}
    {% endif %}
</head>
<body>
    {# Main header #}
    <header>

        {#  Navigation bar #}
        {% include "include/navbar.html" %}
    </header>


    {# Content block  #}
    <main>
        {% block content %}
        {% endblock %}
    </main>


    {# Footer copyright, contact, etc. #}
    <footer>
        <p class="text-center text-secondary mt-4">© 2023 The Broke Coders</p>
    </footer>

    {# JavaScript #}
    <script src="{% static 'thirdparty/bootstrap/bootstrap@5.3.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% if js %}
        {% for file in js %}
            <script type="text/javascript" src="{% static file %}" ></script>
        {% endfor %}
    {% endif %}
    <script>
  //windowonload makes sure everything is loaded first
        window.onload = function() {
            const buttonEl = document.getElementById('color-mode-btn');
            const signupBtn = document.getElementById('signup');
            const loginBtn = document.getElementById('login');
          
            const handleThemeChange = () => {
              const theme = document.documentElement.getAttribute('data-bs-theme');
        //we need to make sure the signup btn exists or else js will crash and will halt the whole thing
              if (signupBtn) {
                if (theme === 'dark') {
                  signupBtn.classList.add('btn-outline-light');
                  signupBtn.classList.remove('btn-outline-dark');
                } else {
                  signupBtn.classList.add('btn-outline-dark');
                  signupBtn.classList.remove('btn-outline-light');
                }
              }
        //same as above we need to make sure the login button exists
              if (loginBtn) {
                if (theme === 'dark') {
                  loginBtn.classList.add('btn-outline-light');
                  loginBtn.classList.remove('btn-outline-dark');
                } else {
                  loginBtn.classList.add('btn-outline-dark');
                  loginBtn.classList.remove('btn-outline-light');
                }
              }
            };
          
            handleThemeChange();
          
            if(buttonEl) {
              buttonEl.addEventListener('click', handleThemeChange);
            }
          }
          
    </script>
</body>
</html>