{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'include/meta-title.html' %}
    {% include 'include/stylesheets.html' %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
</head>

<body>
    {# small rocket image and site name #}
    <div id="branding-small">
        <div id="branding-title">
            <h4 class="mb-0">Brokeman's</h4>
            <h4 class="mt-0">Game Station</h4>
        </div>
        <img id="branding-img" src="{% static 'images/bgs-logo-notext.png' %}" alt="navbar branding logo"/>
    </div>

    <div id="brand-body">
        {# brand statement #}
        <div id="brand-statement-and-actions" class="col col-6 container d-flex flex-column justify-content-center row-gap-2">
            <div id="brand-statement" class="">
                <h1>Launching HTML5</h1>
                <h1>Games that are</h1>
                <h1>Out of this world</h1>
            </div>
            <div id="brand-actions">
                <a href="{% url 'games_index' %}" class="btn btn-info">BROWSE</a>
                <a href="{% url 'games_index' %}" class="btn btn-signin">SIGN IN</a>
            </div>
        </div>


        {# rocket image #}
        <div id="rocket-img-container" class="col col-5 me-5 d-flex flex-column justify-content-center">
            <img id="rocket-img" src="{% static 'images/rocket-branding.png' %}" alt="a large rocketship with toys"/>
        </div>
    </div>




</body>
</html>


