<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brokeman's Game Station</title>
    <link  />
</head>
<body>
    <section class="container flex-container align-items-center justify-content-center">
        <h1 class="text-center">Brokeman's GameStation</h1>
    </section>
</body>
</html>


