{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'include/meta-title.html' %}
    {% include 'include/stylesheets.html' %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
</head>

<body>
    {# small rocket image and site name #}
    <div id="branding-logo-small">
        <div>
            <h4 class="mb-0">Brokeman's</h4>
            <h4 class="mt-0">Game Station</h4>
        </div>
        <img src="{% static 'images/bgs-logo-notext.png' %}" alt="navbar branding logo"/>
    </div>
    <a id="login" type="button" class="btn nav-link text-light" data-bs-toggle="modal" data-bs-target="#signin-modal">LOG IN</a>

    <div id="brand-body">
        {# brand statement #}
        <div id="brand-statement-and-actions" class="col col-7 container d-flex flex-column justify-content-center row-gap-2">
            <div id="brand-statement" class="">
                <h1>Launching HTML5</h1>
                <h1>Games that are</h1>
                <h1>Out of this world</h1>
            </div>
            <div id="brand-actions">
                <a href="{% url 'games_index' %}" class="btn btn-browse">BROWSE</a>
                <a href="{% url 'signup' %}" class="btn btn-signin">SIGN UP</a>
            </div>
        </div>


        {# rocket image #}
        <div class="col col-5 d-flex justify-content-center">
            <div id="rocket-img-container">
                <img id="rocket-img" src="{% static 'images/rocket-branding.png' %}" alt="a toy rocketship"/>
                <canvas width="1000" height="1000" id="rocket-canvas"></canvas>
            </div>


        </div>
    </div>

    <footer class="position-absolute bottom-0 d-flex justify-content-center">
        <p class="text-secondary ms-4">© 2023 The Broke Coders</p>
    </footer>

    {% include 'registration/include/signin-modal.html' %}
    <script src="{% static 'thirdparty/bootstrap/bootstrap@5.3.1.min.js' %}"></script>
    <script src="{% static 'js/homeSparkles.js' %}"></script>
    <script> // todo: refactor since this also appears in base.html
            // set favicon for light and dark mode browsers
            if (window.matchMedia) {

            window.addEventListener("load", evt => {
                const faviconEl = document.querySelector("link[rel='icon']");

                const mediaQuery = window.matchMedia("(prefers-color-scheme: dark)");
                mediaQuery.addEventListener("change", evt => {
                    setIcon(evt.matches);
                });

                setIcon(mediaQuery.matches);

                function setIcon(isDark) {
                    if (isDark) {
                        faviconEl.setAttribute("href", "{% static 'images/rocket-takeoff-light.png' %}");
                    } else {
                        faviconEl.setAttribute("href", "{% static 'images/rocket-takeoff.png' %}");
                    }
                }
            });

        }
    </script>
</body>
</html>

