/* Will be loaded globally in all template files */

/* ===== Load local fonts ================================================== */
@font-face {
    font-family: "Cosmic Octo";
    font-weight: 100 400;
    font-style: normal;
    src:
        local("Cosmic Octo"),
        url("../fonts/CosmicOcto-Medium.woff") format("woff")
}

@font-face {
    font-family: "Cosmic Octo";
    font-weight: 500 700;
    font-style: normal;
    src:
        local("Cosmic Octo"),
        url("../fonts/CosmicOcto-Bold.woff") format("woff")
}

@font-face {
    font-family: "Cosmic Octo";
    font-weight: 800 1000;
    font-style: normal;
    src:
        local("Cosmic Octo"),
        url("../fonts/CosmicOcto-Heavy.woff") format("woff")
}

@font-face {
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 800;
    src: local("League Spartan"), url("../fonts/LeagueSpartan.ttf") format("truetype");
}

@font-face {
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 400;
    src: local("League Spartan"), url("../fonts/LeagueSpartan.ttf") format("truetype");
}

/* ===== Styles ============================================================ */
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a.nav-link {
    font-family: "Cosmic Octo", sans-serif;
}

html {
    --background-light: linear-gradient(#f2eff6, #c5bbe7);
    --background-dark: linear-gradient(#5d5757, #242426);
    margin: 0;
    padding: 0;
    overflow: auto;
}


html[data-bs-theme='light'] > body {
    background: var(--background-light);
    opacity: 1;
}


html[data-bs-theme='dark'] > body {
    background: var(--background-dark);
    opacity: 1;
}


body {
    font-family: "League Spartan", Arial, sans-serif;
    margin: 0;
    padding: 0;


    min-height: 100vh;
    overflow: auto;
}

.brand-text {
    font-family: "Cosmic Octo", sans-serif;
    font-size: 12px;
}

.text-tiny {
    font-size: 12px;
}

.text-lg {
    font-size: 32px;
}

[data-bs-theme="light"] a.nav-link.active {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.29);
}

[data-bs-theme="dark"] a.nav-link.active {
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.55);
}