/* Will be loaded globally in all template files */

/* ===== Load local fonts ================================================== */
@font-face {
    font-family: "Cosmic Octo";
    font-weight: 100 400;
    font-style: normal;
    src:
        local("Cosmic Octo"),
        url("../fonts/CosmicOcto-Medium.woff") format("woff")
}

@font-face {
    font-family: "Cosmic Octo";
    font-weight: 500 700;
    font-style: normal;
    src:
        local("Cosmic Octo"),
        url("../fonts/CosmicOcto-Bold.woff") format("woff")
}

@font-face {
    font-family: "Cosmic Octo";
    font-weight: 800 1000;
    font-style: normal;
    src:
        local("Cosmic Octo"),
        url("../fonts/CosmicOcto-Heavy.woff") format("woff")
}

/* ===== Styles ============================================================ */
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, label {
    font-family: "Cosmic Octo", sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background: linear-gradient(#f2eff6, #d5c5ef);
    min-height: 100vh;
    overflow: hidden;
}

iframe {
    display: block;
    margin: auto auto
}

iframe.fullscreen {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#fullscreen-btn {
    opacity: .5;
    border-radius: 15%;
    background-color: #f3f3f3;
    transition: opacity .15s linear;
}

#fullscreen-btn:hover {
    opacity: 1;
}

#fullscreen-btn.fullscreen {
    position: fixed;
    bottom: 1vmin;
    right: 1vmin;
    z-index: 99;
}