/* Will be loaded globally in all template files */

/* ===== Load local fonts ================================================== */
@font-face {
    font-family: "Cosmic Octo";
    font-weight: 100 400;
    font-style: normal;
    src:
        local("Cosmic Octo"),
        url("../fonts/CosmicOcto-Medium.woff") format("woff")
}

@font-face {
    font-family: "Cosmic Octo";
    font-weight: 500 700;
    font-style: normal;
    src:
            local("Cosmic Octo"),
            url("../fonts/CosmicOcto-Bold.woff") format("woff")
}

@font-face {
    font-family: "Cosmic Octo";
    font-weight: 800 1000;
    font-style: normal;
    src:
            local("Cosmic Octo"),
            url("../fonts/CosmicOcto-Heavy.woff") format("woff")
}

/* ===== Styles ============================================================ */
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: "Cosmic Octo", sans-serif;
}

body {
    font-family: Arial, sans-serif;
}
