  {% for review in game.review_set.all %}
    <p>{{ review.content }}</p>
    <p>Rating: {{ review.rating }}</p>
    <p class="text-sm-start">by {{ review.user.username }}</p>
    {% if user.is_authenticated and user == review.user %}
        <button type="button" class="btn text-secondary" data-bs-toggle="modal" data-bs-target="#edit-modal">
            <i class="bi bi-pencil-fill"></i> Edit
        </button>
        {% include 'review/include/edit-modal.html' %}
      <form action="{% url 'delete_review' review.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
      </form>
    {% endif %}
  {% endfor %}
  
  {% if user.is_authenticated %}
    <h3>Write a Review</h3>
    <form method="post" action="{% url 'add_review' game.id %}">
      {% csrf_token %}
      <textarea name="content"></textarea>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button type="submit">Submit Review</button>
    </form>
  {% endif %}
