{% load static %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">

{# Write Review Form #}

{# review writing/editing available only to registered users #}
{% if user.is_authenticated %}
    {% if can_review %}
        <button id="write-review-btn" class="btn btn-outline-primary mt-4">Write Review</button>
{#        <div id="write-review" class="card bg-transparent mt-4">#}
{#            <div class="card-header">#}
{#                <h6>Write Review</h6>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <form method="post" action="{% url 'add_review' game.id %}">#}
{#                    {% csrf_token %}#}
{#                    <textarea class="form-control mb-3" name="content"></textarea>#}
{#                    <label for="rating-input">#}
{#                        Rating#}
{#                    </label>#}
{#                    <select id="rating-input" class="ms-2" name="rating">#}
{#                        <option value="5">5</option>#}
{#                        <option value="4">4</option>#}
{#                        <option value="3">3</option>#}
{#                        <option value="2">2</option>#}
{#                        <option value="1">1</option>#}
{#                    </select>#}
{#                    <div class="float-end">#}
{#                        <button class="btn btn-secondary" type="submit">Submit</button>#}
{#                    </div>#}
{##}
{#                </form>#}
{#            </div>#}
{#        </div>#}
    {% endif %}
    {% include 'review/include/edit-modal.html' %}

    {% if can_review %}
    <script>
        window.addEventListener("load", () => {
            const editModal = new bootstrap.Modal(document.getElementById('edit-modal'));
            if (!editModal) {
                console.error("Failed to create edit modal");
                return;
            }

            const writeReviewEl = document.getElementById("write-review-btn");
            if (!writeReviewEl) {
                console.error("Failed to find write review button");
                return;
            }

            writeReviewEl.addEventListener("click", () => {
                const editForm = document.getElementById("edit-form");
                if (!editForm) {
                    console.error("Failed to find review edit form");
                    return;
                }

                const editTitleEl = document.getElementById("edit-title");
                if (!editTitleEl) {
                    console.error("Failed to find edit title element");
                    return;
                }

                editTitleEl.innerText = "Write Review";
                editForm.setAttribute("action", "{% url 'add_review' game.id %}");
                editModal.show();
            });
        });
    </script>
</body>

{% include 'review/include/edit-modal.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.edit-review-btn').click(function() {
            let reviewId = $(this).data('review-id');
            $('#edit-form').attr('action', '{% url "edit_review" 0 %}'.replace('0', reviewId));
            let reviewContent = $(this).data('review-content');
            let reviewRating = $(this).data('review-rating');
            $('#edit-text').val(reviewContent);
            $('#edit-rating').val(reviewRating);
            $('#edit-modal').modal('show');
        });
    });
</script>