{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-4 container-fluid">
        <article class="card bg-transparent">
            <div class="card-header">
                {# display title #}
                <h1 class="card-title">{{ game.title }}
                    {% if user.id == game.user_id %}
                        <a href="{% url 'games_update' game.id %}" class="button btn btn-secondary float-end">Edit</a>
                    {% endif %}
                </h1>

                {# display creator #}
                <p class="text-sm-start">by {{ game.user.username }}</p>
            </div>

            {# display game window #}
            <div class="card-body overflow-auto">
                <iframe allowtransparency="false" loading="lazy" width="{{ game.frame_width }}" height="{{ game.frame_height }}" src="{{ game.url }}"></iframe>
                {% if game.add_fullscreen_btn %}
                    <button class="float-end btn btn-light" id="fullscreen-btn"><i class="bi bi-fullscreen"></i></button>
                {% endif %}
            </div>


            <div class="card-footer">

                {# display hashtags #}
                <p class="float-end">
                    <strong>Tags: </strong>

                    {% for tag in game.tags.all %}
                        <span class="rounded bg-secondary-subtle p-1 me-1">
                        <span class="hash">#</span>{{ tag.text }}
                    </span>
                    {% empty %}
                        <span>none.</span>
                    {% endfor %}
                </p>

                <h5>Description:</h5>
                {# description #}
                <p style="white-space:pre;overflow-x:auto;">{{ game.description }}</p>

            </div>

        </article>


        <h2 class="mt-4">Reviews</h2>
        {% for review in game.review_set.all %}
            {% include 'games/include/review.html' %}
        {% empty %}
            <p>no reviews yet...</p>
        {% endfor %}

    </div>

    {% if game.add_fullscreen_btn %}
    <script src="{% static 'js/fullscreenToggle.js' %}"></script>
    {% endif %}

{% endblock %}