{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        iframe {
            display: block;
            margin: auto auto;
            z-index: 999;

            border-radius: 2px;
        }

        iframe.fullscreen {
            margin: 0;
            padding: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;

            border-radius: 0;
            box-shadow: unset;
        }

        #fullscreen-btn {
            opacity: .5;
            border-radius: 15%;
            background-color: #f3f3f3;
            transition: opacity .15s linear;
        }

        #fullscreen-btn:hover {
            opacity: 1;
        }

        #fullscreen-btn.fullscreen {
            position: fixed;
            bottom: 1vmin;
            right: 1vmin;
            z-index: 9999;
        }

        .screenshot-container {
            aspect-ratio: 2/1;
            width: 100%;
        }

        #container {
            max-width: 1080px;
        }
    </style>

    {% if user.id == game.user_id %}
        <a href="{% url 'games_update' game.id %}" class="button btn btn-secondary float-end me-5">Edit <i class="ms-1 bi bi-pencil"></i> </a>
    {% endif %}

    <div id="container" class="mt-4 container-fluid w-75">
        <article class="card bg-transparent shadow-lg">
        {# should we display the screenshot on the game page? #}
{#            {% if game.screenshot_set.count %} #}
{#                <div class="screenshot-container card-header p-0 overflow-hidden"> #}
{#                    <img src="{{ game.screenshot_set.first.file.url }}" class="object-fit-cover w-100 h-100"> #}
{#                </div> #}
{#            {% endif %} #}

            {# display game window #}
            <div class="card-body overflow-auto">
                <iframe class="shadow-sm" allowtransparency="false" loading="lazy" width="{{ game.frame_width }}" height="{{ game.frame_height }}" src="{{ game.url }}"></iframe>
                {% if game.add_fullscreen_btn %}
                    <button class="float-end btn btn-light" id="fullscreen-btn"><i class="bi bi-fullscreen"></i></button>
                {% endif %}
            </div>


            <div class="card-footer">
                <p class="float-end">

                    {# hashtags #}
                    <strong>Tags: </strong>

                    {% for tag in game.tags.all %}
                        <span class="rounded bg-primary-subtle p-1 me-1">
                        <span class="hash">#</span>{{ tag.text }}
                    </span>
                    {% empty %}
                        <span>none.</span>
                    {% endfor %}

                    {# views #}
                    <span class="text-secondary mt-2 d-block text-end">Views: {{ game.times_viewed }} </span>
                </p>

                {# display title #}
                <h1 class="card-title">{{ game.title }}</h1>

                {# display creator #}
                <p class="text-sm-start">by {{ game.user.username }}</p>


                {# description #}
                <p style="white-space:pre-wrap;overflow-x:auto;width:100%;">{{ game.description }}</p>

            </div>

        </article>

    <h2 class="mt-4">Reviews</h2>
        {% include "review/reviews.html" %}
    </div>

    {% if game.add_fullscreen_btn %}
        <script src="{% static 'js/fullscreenToggle.js' %}"></script>
    {% endif %}

{% endblock %}