{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script>
        let tags = "";
        {% for tag in game.tags.all %}
            tags += "{{ tag.text }}\xa0";
        {% endfor %}
        window["game-tags"] = tags;
    </script>
    {{ form.media }}

    <section class="container">

        {% if errors %}
            <p class="errors">
                {% autoescape off %}
                    {{ errors }}
                {% endautoescape %}
            </p>
        {% endif %}

        {% if game %}
            <h1 class="mt-4 mb-4">Edit <span class="text-success">{{ game.title }}</span></h1>
        {% else %}
            <h1 class="mt-4 mb-4">Upload Game</h1>
        {% endif %}
        <div class="container">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>

                {% if game %}
                    <button type="button" class="btn btn-outline-danger float-end" data-bs-toggle="modal" data-bs-target="#delete-modal">
                        Delete
                    </button>
                {% endif %}
            </form>
        </div>

    {% if game %}
        {# delete modal #}
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Delete Game Confirmation
                        </h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete <span class="text-primary">{{ game.title }}</span>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{% url 'games_delete' game.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    </section>

    <script>
        label = document.querySelector("label[for='id_add_fullscreen_btn']");
        label.classList.add("form-check-label");

        document.querySelectorAll("textarea, input").forEach(input => {
            if (input.getAttribute("type") !== "checkbox") {
                input.classList.add("form-control");
            }
        });

    </script>


{% endblock %}
