{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .tag-input {
            border: 1px gray solid;
        }

        .tag {
            background: #aaceaa;
            border-radius: 50vmin;
            padding: 1px 4px;
        }

        .tag::before {
            content: "#";
        }

        .errors {
            color: red;
        }

    </style>

    {% if errors %}
        <p class="errors">
            {% autoescape off %}
                {{ errors }}
            {% endautoescape %}
        </p>
    {% endif %}

    {% if game %}
        <h1>Edit <span class="text-success">{{ game.title }}</span></h1>
    {% else %}
        <h1>Upload Game</h1>
    {% endif %}
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'games_delete' game.id %}" type="button" class="btn btn-danger float-end">Delete</a>
        </form>
    </div>

    <script src="{% static "js/tagFormatter.js" %}"></script>

{% endblock %}
