{% extends "base.html" %}
{% block content %}
    <style>
        .hover-shadow {
            position: relative;
        }

        .hover-shadow::after {
            content: "";
            width: 100%;
            height: 100%;
            opacity: 0;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.04);
            transition: opacity .5s ease-in-out;

            position: absolute;
            top: 0;
            left: 0;

            z-index: -1;

            border-radius: 8px;
        }

        .hover-shadow:hover::after {
            opacity: 1;
        }
    </style>
    <section class="container">

        {# title #}
        <h1 class="text-center mb-5"><a class="nav-link" href="{% url 'games_index' %}">Games</a></h1>

        {# display search bar. TODO: connect to search API #}
        <form id="search-form" action="{% url 'games_index' %}" method="GET" class="mb-5">
            <div class="hover-shadow input-group w-75 m-auto mt-4 mb-4 rounded-3">
                {# search icon #}
                <label for="search-input" class="input-group-text" id="basic-addon1">
                        <i class="bi bi-search"></i>
                </label>
                {# text input #}
                <input class="form-control w-75" id="search-input" type="text" name="q" placeholder="Search" value="{{ request.GET.q }}"/>

                {# hidden submit button #}
                <input id="search-submit-btn" type="submit" class="btn btn-light input-group-text" value="Go" hidden="hidden"/>
            </div>
        </form>



        {# display games #}
        <div class="d-flex flex-wrap flex-row mb-5">

            {% for game in games %}
                <article class="col-lg-3" style="padding:12px;">
                    {% include "games/include/game.html" %}
                </article>

            {% empty %}
                {% if request.GET.q %}
                    <p>Sorry, there were no games found for your search...</p>
                {% else %}
                    <p>No games to show...</p>
                {% endif %}
            {% endfor %}

        </div>

    </section>
{% endblock %}
